<div class="navbar-section">
  <nav class="navbar navbar-expand-lg bg-dark text-white py-3 px-4">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">REELFUSION</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/seating">Seating</a>
          </li>
        </ul>
        <div class="d-flex">
          <button  *ngIf="!isLoggedIn" (click)="toggleLoginModal()" class="btn btn-outline-light me-2">
            Log In
          </button>
          <button
          *ngIf="isLoggedIn"
          (click)="logout()"
          class="btn btn-outline-light me-2"
        >
          Log Out
        </button>
          <button (click)="openSignupModal()" class="btn btn-danger me-2">
            Signup
          </button>
        </div>
      </div>
    </div>
  </nav>

  <!-- Search Bar -->
  <div class="search-bar-section py-3">
    <div class="container  d-flex flex-column flex-md-row justify-content-center align-items-center position-relative">
      <input
        type="text"
        class="form-control"
        placeholder="Search for a movie"
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
        (focus)="onFocus()"
        style="max-width: 100%;"
      />
      <button class="btn btn-outline-light ms-0 ms-md-2 mt-2 mt-md-0" (click)="onSearch()">Search</button>

      <!-- Dropdown for Movie Suggestions -->
      <ul
        *ngIf="filteredMovies.length > 0"
        class="dropdown-menu show mt-2"
       
      >
        <li
          *ngFor="let movie of filteredMovies"
          class="dropdown-item d-flex align-items-center"
          (click)="onMovieClick(movie._id)"
        >
          <img
            [src]="movie.picture"
            alt="Poster"
            class="rounded me-2"
            style="width: 50px; height: 75px; object-fit: cover;"
          />
          <div>
            <h6 class="mb-0">{{ movie.movieName }}</h6>
            <small class="text-white" >{{ movie.releaseYear }}</small>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- User Login Modal -->
<app-userlogin
    [isVisible]="isLoginModalVisible"
    (loginSuccess)="onLoginSuccess()"
    (closeModal)="closeLoginModal()"
  ></app-userlogin>

  <!-- User Signup Modal -->
<app-usersignup
  [isVisible]="isSignupModalVisible"
  (closeModal)="closeSignupModal()"
></app-usersignup>
